---

- name: Kibana Install
  include: "install-{{ ansible_os_family|lower }}.yml"

#- pause: minutes=10

- name: Create kibana config file | v5.x
  template: 
    src:   kibana-v5.x.yml.j2
    dest:  "{{ kibana_conf_dir }}/kibana.yml"
    owner: "root"
    group: "root"
    mode:  0644
  when: kibana_major_version|int == 5
  notify: 
    - Restart kibana

- name: Create kibana config file | v6.x
  template:
    src:   kibana-v6.x.yml.j2
    dest:  "{{ kibana_conf_dir }}/kibana.yml"
    owner: "root"
    group: "root"
    mode:  0644
  when: kibana_major_version|int == 6
  notify:
    - Restart kibana

- name: Create kibana default settings file
  template: 
    src:   etc.default.kibana.j2
    dest:  "/etc/default/kibana"
    owner: root
    group: root
    mode:  0644
  notify: 
    - Restart kibana

- name: Create kibana pid dir
  file: 
    path:  "{{ kibana_pid_dir }}"
    owner: "{{ kibana_user }}"
    group: "{{ kibana_user }}"
    mode:  0755
    state: directory
  
#- name: Kibana Plugins
#  include: plugins.yml
#  when: kibana_major_version|int >= 5

- name: Start kibana
  service: name=kibana enabled=yes state=started
