# Kibana is served by a back end server. This setting specifies the port to use.
server.port: {{ kibana_server_port }}

# This setting specifies the IP address of the back end server.
server.host: "{{ kibana_server_host }}"

# Enables you to specify a path to mount Kibana at if you are running behind a proxy. This setting
# cannot end in a slash.
server.basePath: "{{ kibana_server_basePath }}"

# The maximum payload size in bytes for incoming server requests.
server.maxPayloadBytes: {{ kibana_server_maxPayloadBytes }}

# The URL of the Elasticsearch instance to use for all your queries.
elasticsearch.url: "{{ kibana_elasticsearch_url }}"

# When this setting’s value is true Kibana uses the hostname specified in the server.host
# setting. When the value of this setting is false, Kibana uses the hostname of the host
# that connects to this Kibana instance.
elasticsearch.preserveHost: {{ kibana_elasticsearch_preserveHost|bool|lower }}

# Kibana uses an index in Elasticsearch to store saved searches, visualizations and
# dashboards. Kibana creates a new index if the index doesn’t already exist.
kibana.index: "{{ kibana_index }}"

# The default application to load.
kibana.defaultAppId: "{{ kibana_defaultAppId }}"

# If your Elasticsearch is protected with basic authentication, these settings provide
# the username and password that the Kibana server uses to perform maintenance on the Kibana
# index at startup. Your Kibana users still need to authenticate with Elasticsearch, which
# is proxied through the Kibana server.
# elasticsearch.username: "user"
# elasticsearch.password: "pass"
{% if kibana_elasticsearch_username|default(false) and kibana_elasticsearch_password|default(false)  %}
elasticsearch.username: "{{ kibana_elasticsearch_username }}"
elasticsearch.password: "{{ kibana_elasticsearch_password }}"
{% endif %}

# Paths to the PEM-format SSL certificate and SSL key files, respectively. These
# files enable SSL for outgoing requests from the Kibana server to the browser.
# server.ssl.cert: /path/to/your/server.crt
# server.ssl.key: /path/to/your/server.key
{% if kibana_server_ssl_cert|default(false) and kibana_server_ssl_key|default(false)  %}
server.ssl.cert: {{ kibana_server_ssl_cert }}
server.ssl.key: {{ kibana_server_ssl_key }}
{% endif %}

# Optional settings that provide the paths to the PEM-format SSL certificate and key files.
# These files validate that your Elasticsearch backend uses the same key files.
# elasticsearch.ssl.cert: /path/to/your/client.crt
# elasticsearch.ssl.key: /path/to/your/client.key
{% if kibana_elasticsearch_ssl_cert|default(false) and kibana_elasticsearch_ssl_key|default(false)  %}
elasticsearch.ssl.cert: {{ kibana_elasticsearch_ssl_cert }}
elasticsearch.ssl.key: {{ kibana_elasticsearch_ssl_key }}
{% endif %}

# Optional setting that enables you to specify a path to the PEM file for the certificate
# authority for your Elasticsearch instance.
# elasticsearch.ssl.ca: /path/to/your/CA.pem
{% if kibana_elasticsearch_ssl_ca|default(false) %}
elasticsearch.ssl.ca: {{ kibana_elasticsearch_ssl_ca }}
{% endif %}

# To disregard the validity of SSL certificates, change this setting’s value to false.
elasticsearch.ssl.verify: {{ kibana_elasticsearch_ssl_verify|bool|lower }}

# Time in milliseconds to wait for Elasticsearch to respond to pings. Defaults to the value of
# the elasticsearch.requestTimeout setting.
# elasticsearch.pingTimeout: 1500
{% if kibana_elasticsearch_pingTimeout %}
elasticsearch.pingTimeout: {{ kibana_elasticsearch_pingTimeout }}
{% endif %}

# Time in milliseconds to wait for responses from the back end or Elasticsearch. This value
# must be a positive integer.
elasticsearch.requestTimeout: {{ kibana_elasticsearch_requestTimeout }}

# Time in milliseconds for Elasticsearch to wait for responses from shards. Set to 0 to disable.
elasticsearch.shardTimeout: {{ kibana_elasticsearch_shardTimeout }}

# Time in milliseconds to wait for Elasticsearch at Kibana startup before retrying.
elasticsearch.startupTimeout: {{ kibana_elasticsearch_startupTimeout }}

# Specifies the path where Kibana creates the process ID file.
pid.file: {{ kibana_pid_file }}

# Enables you specify a file where Kibana stores log output.
logging.dest: {{ kibana_logging_dest }}

# Set the value of this setting to true to suppress all logging output.
# logging.silent: {{ kibana_logging_silent|bool|lower }}

# Set the value of this setting to true to suppress all logging output other than error messages.
logging.quiet: {{ kibana_logging_quiet|bool|lower }}

# Set the value of this setting to true to log all events, including system usage information
# and all requests.
logging.verbose: {{ kibana_logging_verbose|bool|lower }}
