{{ kibana_log_dir }}/kibana.stdout
{
    rotate 6
    daily
    maxsize 100M
    missingok
    dateext
    copytruncate
    notifempty
    compress
}
{{ kibana_log_dir }}/kibana.stderr
{
    rotate 6
    daily
    maxsize 100M
    missingok
    dateext
    copytruncate
    notifempty
    compress
}
