{{ kibana_log_dir }}/kibana.stdout
{
    rotate 6
    daily
    maxsize 100M
    missingok
    dateext dateformat -%Y-%m-%d-%s
    copytruncate
    notifempty
    compress
    postrotate
      /bin/kill -HUP $(cat /var/run/kibana/kibana.pid 2>/dev/null) 2>/dev/null
    endscript
}
{{ kibana_log_dir }}/kibana.stderr
{
    rotate 6
    daily
    maxsize 100M
    missingok
    dateext dateformat -%Y-%m-%d-%s
    copytruncate
    notifempty
    compress
    postrotate
      /bin/kill -HUP $(cat /var/run/kibana/kibana.pid 2>/dev/null) 2>/dev/null
    endscript 
}
